SpaceTrek/SampleData/StreamDataSource/StreamDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.StreamDataSource" targetNamespace="Expression.Blend.SampleData.StreamDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StreamDataSource" type="tns:StreamDataSource" />
  <xs:complexType name="StreamDataSource">
    <xs:sequence>
      <xs:element name="Stream" type="tns:Stream" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Stream">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="StreamItem" type="tns:StreamItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StreamItem">
    <xs:attribute blend:Format="Company Name" name="name" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="description" type="xs:string" />
    <xs:attribute blend:Format="Name" name="uploader" type="xs:string" />
    <xs:attribute blend:FormatParameters="4" name="view" type="xs:double" />
    <xs:attribute blend:FormatParameters="..\..\..\Radyalabs\Elasitas\AMPed\Mockup\artist" name="images" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>